@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: -.5em;
}

h2 {
  text-align: center;
  font-weight: 300;
}

#tooltip {
  position: absolute;
  padding: .75em;
  opacity: 0;
  border-radius: 5px;
  line-height: 1.6;
  background: #1e3048;
  color: white;
  display: none;
}

#legend {
  stroke: black;
  stroke-width: .5px;
  align-self: flex-end;
  margin-top: 1em;
}

.tile {
  stroke: white;
}

.text {
  fill: black;
  font-size: .75rem;
}